/* ----------- Reset Styles --------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,label,input,textarea,p,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
a,a:active,a:focus,input,textarea{outline:none}
td,th{vertical-align:top;text-align:left}
img,iframe{ border:none}
ol,ul{list-style:none}
h1,h2,h3{font-size:100%;font-weight:normal}

/* ----------- WIREFRAME --------- */

html,
body,
#app{
    width:100%;
    height:100%;
    overflow: hidden;
    }
    
body{
    font-family: 'Oswald', Helvetica-Neue, Helvetica, Arial, Sans-serif;
    background: #333;
    }
    

/* --------------- MASTHEAD -------------- */

                                     

.page {
    line-height: 1.5em;
    font-size: 1.2em;
    background: #F5F5F5;
    }
.inset-page {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #EEE;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
}



/* --------------- COVER PAGE -------------- */

.cover-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: -1px;
    text-align: right;
    margin-top: -7em;
    height: 14em;
    padding: 0 3em 0 0;
    }

/* --------------- HEADERS -------------- */

h1 {
    font-size: 4em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: .5em 0;
    line-height: 1.5em;
    font-weight: 300;
    color: #fff;
    }
h2 {
    font-size: 3em;
    color: #fff;
    }


        