

/* ----------- WIREFRAME --------- */

    
body{
    font-family: 'Oswald', Helvetica-Neue, Helvetica, Arial, Sans-serif;
    background: #333;
    }
    

/* --------------- PAGE BORDER -------------- */

         
.flip-page {
    border: 25px solid #FFF;
    background-color: #EEE;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
}



/* --------------- COVER PAGE -------------- */

.cover-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: -1px;
    text-align: right;
    margin-top: -7em;
    height: 14em;
    padding: 0 3em 0 0;
    }

h1 {
    font-size: 4em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: .5em 0;
    line-height: 1.5em;
    font-weight: 300;
    color: #fff;
    padding: 0;
    }
h2 {
    font-size: 3em;
    color: #fff;
    margin: 0;
    }


        